h1{
    margin: 0;
    padding: ;
}

.parent{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-color: red;
    color: aliceblue;
}

.box{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-color: lightcoral;
    color: aliceblue;
}

/*Đơn vị đo: đơn vị tương đối và đơn vị tuyệt đối
đơn vị tuyệt đối : px
đơn vị tương đối : %, em, rem, vw, vh, vmin, vmax
*/

/* Position: static, relative, absolute, fixed, sticky */
